extends layout

block content
  h1 Movies
    table
      tr
        th Route
        th HTTP Verb
        th POST body
        th Description
      tr
        td /api/movies
        td GET
        td Empty
        td List all movies.
      tr
        td /api/movies
        td POST
        td {'title':'foo', 'category':'bar', 'country':'Turkey', year:1990, director:"id", imdb_score: 9.7 }
        td Create a new movie.
      tr
        td /api/movies/:movie_id
        td GET
        td Empty
        td Get a movie.
      tr
        td /api/movies/:movie_id
        td PUT
        td {'name':'foo', 'surname':'bar'}
        td Update a movie with new info.
      tr
        td /api/movies/:movie_id
        td DELETE
        td Empty
        td Delete a movie.
      tr
        td /api/movies/top10
        td GET
        td Empty
        td Get the top 10 movies.
      tr
        td /api/movies/between/:start_year/:end_year
        td GET
        td Empty
        td Movies between two dates.

  h1 Directors
    table
      tr
        th Route
        th HTTP Verb
        th POST body
        th Description
      tr
        td /api/directors
        td GET
        td Empty
        td List all directors.
      tr
        td /api/directors
        td POST
        td { name: 'foo', surname:'bar', bio:'lorem ipsum' }
        td Create a new director.
      tr
        td /api/directors/:director_id
        td GET
        td Empty
        td Get a director.
      tr
        td /api/directors/:director_id
        td PUT
        td {'name':'foo', 'surname':'bar', 'bio': 'lorem'}
        td Update a director with new info.
      tr
        td /api/directors/:director_id
        td DELETE
        td Empty
        td Delete a director.
      tr
        td /api/directors/:director_id/best10movie
        td GET
        td Empty
        td The director's top 10 films.


  h1 Index
    table
      tr
        th Route
        th HTTP Verb
        th POST body
        th Description
      tr
        td /register
        td POST
        td { username: 'foo', password:'123456' }
        td Create a new user.
      tr
        td /authenticate
        td POST
        td { username: 'foo', password:'123456' }
        td Generate a token.
